<!DOCTYPE html>
<html>
  <head>
    <title>Birds</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1>{{name}}</h1>
    {{#each orders}}
    <h2>{{name}}</h2>
    {{/each}}
  </body>
</html>